<div class="title-container">
    <p><b>Modificar Empleado</b></p>
</div>
<div [formGroup]="editarFormGroup" class="info-container">
    <div class="row-container">
        <p><b>Nombre:</b></p>
        <input formControlName="nombreCtrl" type="text">
    </div>
    <div class="row-container">
        <p><b>Apellidos:</b></p>
        <input formControlName="apellidosCtrl" type="text">
    </div>
    <div class="input-group">
        <div class="column-container">
            <p><b>Tipo:</b></p>
            <select formControlName="tipoCtrl" name="Tipo" id="">
                <option value="Administrador">Administrador</option>
                <option value="Empleado">Empleado</option>
            </select>
        </div>
        <div class="sep"></div>
        <div class="column-container">
            <p><b>Teléfono:</b></p>
            <input formControlName="telefonoCtrl" type="text">
        </div>
    </div>
    <div class="input-group">
        <div class="column-container">
            <p><b>Usuario:</b></p>
            <input formControlName="usuarioCtrl" type="text">
        </div>
        <div class="sep"></div>
        <div class="column-container">
            <p><b>Correo:</b></p>
            <input formControlName="correoCtrl" type="text">
        </div>
    </div>
    <div class="input-group">
        <div class="column-container">
            <p><b>Contraseña:</b></p>
            <input formControlName="contraCtrl" type="password">
        </div>
        <div class="sep"></div>
        <div class="column-container">
            <p><b>Confirmar contraseña:</b></p>
            <input formControlName="contraConfCtrl" type="password">
        </div>
    </div>
    <div class="row-container-btn">
        <button (click)="cancelar()">Cancelar</button>
        <button (click)="editar()">Editar</button>
    </div>
</div>
