<div class="title-container">
    <p><b>Búsqueda de Productos</b></p>
</div>
<div class="info-container">
    <div class="row-container">
        <p><b>Consulta</b></p>
        <input type="text" placeholder="">
        <p><b>por:</b></p>
        <select class="por" name="por" id="">
            <option value="1">Nombre</option>
            <option value="2">Tipo</option>
        </select>
        <button (click)="onSubmit()">Buscar</button>
    </div>
    <div class="row-container">
        <p><b>Ordenado por:</b></p>
        <select class="ordenado" name="" id="">
            <option value="1">ID</option>
            <option value="2">Nombre</option>
            <option value="3">Tipo</option>
            <option value="4">Precio</option>
        </select>
        <select class="as-des" name="" id="">
            <option value="1">Ascendente</option>
            <option value="2">Descendente</option>
        </select>
        <button (click)="onSubmit()">Limpiar filtros</button>
    </div>
    <div class="tabla-producto">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="border-radius-first">ID</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of this.productos">
                    <th scope="row" class="center-text text-normal">{{producto.id}}</th>
                    <td>{{producto.nombre_producto}}</td>
                    <td class="center-text">{{producto.tipo}}</td>
                    <td class="center-text">{{producto.precio}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-container">
        <button (click)="onSubmit()">Eliminar</button>
        <button (click)="onSubmitModificar()">Modificar</button>
        <button (click)="onSubmitNuevo()">Nuevo</button>
    </div>
</div>