<div class="title-container">
    <p><b>Búsqueda de Empleados</b></p>
</div>
<div [formGroup]="consultaFormGroup" class="info-container">
    <div class="row-container">
        <p><b>Consulta</b></p>
        <input formControlName="consultaCtrl" type="text" id="consulta">
        <p><b>por:</b></p>
        <select formControlName="porCtrl" class="por" name="por">
            <option value="Nombre">Nombre</option>
            <option value="Usuario">Usuario</option>
            <option value="Tipo">Tipo</option>
        </select>
        <button (click)="buscarEmpleados()">Buscar</button>
    </div>
    <div class="row-container">
        <p><b>Ordenado por:</b></p>
        <select formControlName="tipoCtrl" class="ordenado" name="" id="">
            <option value="ID">ID</option>
            <option value="Nombre">Nombre</option>
            <option value="Usuario">Usuario</option>
            <option value="Tipo">Tipo</option>
        </select>
        <select formControlName="ascDescCtrl" class="as-des" name="" id="">
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
        <button (click)="limpiarFiltros()">Limpiar filtros</button>
    </div>
    <div class="table-cotizacion">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="border-radius-first">ID</th>
                    <th scope="col">Nombre del Empleado</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Coreo Electrónico</th>
                    <th scope="col" class="border-radius-last">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr [class]="(usuarioSelect === usuario.id) ? 'cotizacion-seleccionada' : ''"
                    (click)="seleccionarUsuario(usuario)" *ngFor="let usuario of usuarios">
                    <th scope="row" class="center-text text-normal">{{usuario.id}}</th>
                    <td>{{usuario.nombre}}</td>
                    <td class="center-text">{{usuario.usuario}}</td>
                    <td class="center-text">{{usuario.tipo}}</td>
                    <td>{{usuario.correo}}</td>
                    <td class="center-text">{{usuario.telefono}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-container">
        <button [disabled]="!usuarioSelect" [class]="!usuarioSelect ? 'disabled-button' : ''"
            (click)="eliminarEmpleado()">Eliminar</button>
        <button [disabled]="!usuarioSelect" [class]="!usuarioSelect ? 'disabled-button' : ''"
            (click)="modificarEmpleado()">Modificar</button>
        <button (click)="agregarEmpleado()">Agregar</button>
    </div>
</div>