<div class="title-container">
    <p><b>Búsqueda de Empleados</b></p>
</div>
<div class="info-container">
    <div class="row-container">
        <p><b>Consulta</b></p>
        <input type="text" placeholder="">
        <p><b>por:</b></p>
        <select class="por" name="por" id="">
            <option value="1">Nombre</option>
            <option value="2">Tipo</option>
        </select>
        <button (click)="onSubmit()">Buscar</button>
    </div>
    <div class="row-container">
        <p><b>Ordenado por:</b></p>
        <select class="ordenado" name="" id="">
            <option value="1">ID</option>
            <option value="2">Nombre</option>
            <option value="3">Usuario</option>
            <option value="4">Tipo</option>
        </select>
        <select class="as-des" name="" id="">
            <option value="1">Ascendente</option>
            <option value="2">Descendente</option>
        </select>
        <button (click)="onSubmit()">Limpiar filtros</button>
    </div>
    <div class="table-cotizacion">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="border-radius-first">ID</th>
                    <th scope="col">Nombre del Empleado</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Coreo Electrónico</th>
                    <th scope="col" class="border-radius-last">Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados">
                    <th scope="row" class="center-text text-normal">{{empleado.id}}</th>
                    <td>{{empleado.nombre_empleado}}</td>
                    <td class="center-text">{{empleado.usuario}}</td>
                    <td class="center-text">{{empleado.tipo}}</td>
                    <td>{{empleado.correo_electronico}}</td>
                    <td class="center-text">{{empleado.telefono}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-container">
        <button (click)="onSubmit()">Eliminar</button>
        <button (click)="onSubmit()">Modificar</button>
        <button (click)="onSubmit()">Nuevo</button>
    </div>
</div>
