.title-container p {
    font-size: 2.2rem;
}

.title-container {
    margin-bottom: 40px;
}

.page-agregar-cotizacion {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: space-evenly;
}

.row-inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.id-input label {
    margin-right: 20px;
}

.row-inputs label {
    font-size: 1.6rem;
}

.fecha-p p {
    font-size: 1.6rem;
}

.row-inputs input {
    width: 52px;
    height: 46px;
    outline: none;
    border-radius: 6px;
    color: var(--font-color-2);
    background: var(--primary-color);
    border: 2px solid var(--stroke-color);
    padding-left: 10px;
    font-size: 1.6rem;
}

.inputs-2-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.inputs-2-row input {
    width: 100%;
    height: 46px;
    outline: none;
    border-radius: 6px;
    color: var(--font-color-2);
    background: var(--primary-color);
    border: 2px solid var(--stroke-color);
    padding-left: 10px;
    font-size: 1.6rem;
}

.inputs-2-row label {
    font-size: 1.6rem;
}

.input-nombre {
    margin: 0 20px;
}

.input-apellidos {
    margin-left: 20px;
}

.no-wrap {
    white-space: nowrap;
}

.center-text {
    text-align: center;
}

.text-normal {
    font-weight: 400;
}

.table-cotizacion {
    display: flex;
    margin-top: 10px;
    width: 100%;
    background-color: var(--secondary-color);
    height: 100%;
    border-radius: var(--radius-table);
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.table-cotizacion::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 100%;    /* Tamaño del scroll en horizontal */ 
}

.table-cotizacion::-webkit-scrollbar-thumb {
    background: #50789c;
    border-radius: 4px;
}

.table-cotizacion::-webkit-scrollbar-thumb:hover{
    box-shadow: 6px 5px 8px -3px rgba(0,0,0,0.5);
    background-color: #50789c;
}

.table-cotizacion::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-color);
}

.table-cotizacion table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

.table-cotizacion table thead tr {
    height: 40px;
    background-color: var(--primary-color);
}

.border-radius-first {
    border-radius: var(--radius-table) 0 0 0;
}

.border-radius-last {
    border-radius: 0 var(--radius-table) 0 0;
}

.table-cotizacion table tbody tr {
    height: 40px;
    cursor: pointer;
}

.table-cotizacion table tbody tr:hover{
    background-color: #50789c;
}

.detalles-cotizacion {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.detalles-cotizacion p {
    font-size: 1.6rem;
}

.row-container {
    flex-direction: row;
    display:flex;
    justify-content:space-between;
    margin: 20px 0;
}

.row-container button {
    background: var(--secondary-color);
    width: 25%;
    height: 44px;
    border: none;
    border-radius: 6px;
    justify-content: space-between;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 6px 5px 8px -3px rgba(0,0,0,0.5); 
    box-shadow: 6px 5px 8px -3px rgba(0,0,0,0.5);
    font-size: 1.7rem;
}

.row-container button:hover {
    transition-property: background-color;
    transition-duration: 0.2s;
    background-color: #50789c;
}