<div [formGroup]="clienteFormGroup" class="page-agregar-cotizacion">
    <div class="title-container">
        <p><b>Agregar Cotización</b></p>
    </div>
    <div class="row-inputs">
        <div class="id-input">
            <label for="id">ID: </label>
            <input disabled formControlName="idCtrl" type="text" id="id">
        </div>
        <div class="fecha-p">
            <p>Fecha: {{fecha | date: 'dd / MM / yyyy'}}</p>
        </div>
    </div>
    <div class="inputs-2-row">
        <label for="nombre">Nombre</label>
        <input formControlName="nombreCtrl" type="text" id="nombre" class="input-nombre">
        <label for="apellidos">Apellidos</label>
        <input formControlName="apellidosCtrl" type="text" id="apellidos" class="input-apellidos">
    </div>
    <div class="inputs-2-row">
        <label for="telefono">Teléfono</label>
        <input formControlName="telefonoCtrl" type="text" id="telefono" class="input-nombre">
        <label for="correo" class="no-wrap">Correo Electrónico</label>
        <input formControlName="correoCtrl" type="text" id="correo" class="input-apellidos">
    </div>
    <div class="table-cotizacion">
        <table *ngIf="!loadingProduct">
            <thead>
                <tr>
                    <th scope="col" class="border-radius-first">ID</th>
                    <th scope="col">Nombre del Producto</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col" class="border-radius-last">Precio Total</th>
                </tr>
            </thead>
            <tbody>
                <tr [class]="(productoSeleccionado === item.id_producto) ? 'cotizacion-seleccionada' : ''"
                    (click)="selectProducto(item)" *ngFor="let item of carrito">
                    <th scope="row" class="center-text text-normal">{{item.id_producto}}</th>
                    <td>{{obtenerProductoByID(item.id_producto).nombre}}</td>
                    <td class="center-text">{{obtenerProductoByID(item.id_producto).tipo}}</td>
                    <td class="center-text">{{obtenerProductoByID(item.id_producto).precio}}</td>
                    <td class="center-text">{{item.cantidad}}</td>
                    <td class="center-text">{{item.subtotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="detalles-cotizacion">
        <mat-slide-toggle formControlName="checkedCtrl">
            Completar Venta
        </mat-slide-toggle>
        <p>Subtotal: {{subTotalCot}}</p>
        <p>IVA: 16%</p>
        <p>Total: {{totalCot}}</p>
    </div>
    <div class="row-container">
        <button [disabled]="!productoSeleccionado" [class]="!productoSeleccionado ? 'disabled-button' : ''"
            (click)="onSubmitEliminar()">Eliminar</button>
        <button (click)="onSubmitAgregar()">Agregar</button>
        <button (click)="onSubmitGuardar()">Guardar</button>
    </div>
</div>