<div class="title-container">
    <p><b>Búsqueda de Cotizaciones</b></p>
</div>
<div class="info-container">
    <div class="row-container">
        <p><b>Consulta</b></p>
        <input type="text" placeholder="" class="consulta-input">
        <p><b>por:</b></p>
        <select class="por" name="por" id="" class="consulta-select">
            <option value="Nombre">Nombre</option>
            <option value="Estado">Estado</option>
            <option value="Usuario">Usuario</option>
        </select>
    </div>
    <div class="row-container">
        <p><b class="no-wrap">Ordenado por:</b></p>
        <select class="ordenado-select" name="" id="">
            <option value="ID">ID</option>
            <option value="Nombre">Nombre</option>
            <option value="Estado">Estado</option>
            <option value="Total">Total</option>
            <option value="Usuario">Usuario</option>
        </select>
        <select class="as-des" name="" id="">
            <option value="1">Ascendente</option>
            <option value="2">Descendente</option>
        </select>
    </div>
    <div class="tabla-producto">
        <table *ngIf="cotizaciones && usuarios && clientes">
            <thead>
                <tr>
                    <th scope="col" class="border-radius-first">ID</th>
                    <th scope="col">Nombre del Cliente</th>
                    <th scope="col">Total</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="border-radius-last">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-dblclick="doubleClick()" [class]="(cotizacionSelect === cotizacion.id) ? 'cotizacion-seleccionada' : ''"
                    (click)="seleccionarCotizacion(cotizacion)" *ngFor="let cotizacion of cotizaciones">
                    <th scope="row" class="center-text text-normal">{{cotizacion.id}}</th>
                    <td>{{obtenerNombreCliente(cotizacion.id_cliente)}}</td>
                    <td class="center-text">{{cotizacion.total}}</td>
                    <td class="center-text">{{cotizacion.estado}}</td>
                    <td class="center-text">{{cotizacion.createdAt | date: 'dd/MM/yyyy'}}</td>
                    <td class="center-text">{{obtenerNombreUsuario(cotizacion.id_empleado)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-container">
        <button [disabled]="!cotizacionSelect" [class]="!cotizacionSelect ? 'disabled-button' : ''"
            (click)="eliminarCotizacion()">Eliminar</button>
        <button (click)="limpiarFiltros()">Limpiar Filtros</button>
        <button (click)="buscarCotizaciones()">Buscar</button>
    </div>
</div>