<div class="title-container">
    <p><b>Búsqueda de Cotizaciones</b></p>
</div>
<div class="info-container">
    <div class="row-container-inputs">
        <p><b>Consulta</b></p>
        <input type="text" placeholder="" class="input-space-consulta">
        <p><b>por:</b></p>
        <select class="por" name="por" id="" class="select-space-consulta">
            <option value="1">Nombre</option>
            <option value="2">Tipo</option>
        </select>
    </div>
    <div class="row-container-inputs">
        <p><b class="no-wrap">Ordenado por:</b></p>
        <select class="ordenado" name="" id="" class="select-space-ordenado">
            <option value="1">ID</option>
            <option value="2">Nombre</option>
            <option value="3">Tipo</option>
            <option value="4">Precio</option>
        </select>
        <select class="as-des" name="" id="">
            <option value="1">Ascendente</option>
            <option value="2">Descendente</option>
        </select>
    </div>
    <div class="table-cotizacion">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="border-radius-first">ID</th>
                    <th scope="col">Nombre del Cliente</th>
                    <th scope="col">Total</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha</th>
                    <th scope="col" class="border-radius-last">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cotizacion of cotizaciones">
                    <th scope="row" class="center-text text-normal">{{cotizacion.id}}</th>
                    <td>{{cotizacion.nombre_cliente}}</td>
                    <td class="center-text">{{cotizacion.total}}</td>
                    <td class="center-text">{{cotizacion.estado}}</td>
                    <td class="center-text">{{cotizacion.fecha}}</td>
                    <td class="center-text">{{cotizacion.usuario}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row-container-btn">
        <button (click)="onSubmit()">Modificar</button>
        <button (click)="onSubmitModificar()">Limpiar filtros</button>
        <button (click)="onSubmitNuevo()">Buscar</button>
    </div>
</div>