<div class="title-container">
    <p><b>Generar un nuevo Reporte</b></p>
</div>
<div class="info-container">
    <div class="row-container">
        <p><b>Nombre: </b></p>
        <input type="text" placeholder="">
    </div>
    <div class="row-container">
        <p><b>Tipo: </b></p>
        <select class="tipo" name="" id="">
            <option value="1">Reparación</option>
            <option value="2">Pieza</option>
            <option value="3">Herramienta</option>
        </select>
    </div>
    <div class="row-container">
        <p><b>Producto: </b></p>
        <select class="producto" name="" id="">
            <option value="1">Producto 1</option>
            <option value="2">Producto 2</option>
            <option value="3">Producto 3</option>
        </select>
    </div>
    <div class="row-container">
        <p><b>Periodo: </b></p>
        <select class="Desde" name="" id="">
            <option value="1">Producto 1</option>
            <option value="2">Producto 2</option>
            <option value="3">Producto 3</option>
        </select>
    </div>
    <div class="row-container-btn">
        <button (click)="onSubmit()">Cancelar</button>
        <button (click)="onSubmit()">Guardar</button>
    </div>
</div>