<div class="login-container">
    <div class="login-img">
        <img src="assets/img/Logo eris.png" alt="Logo Eris">
    </div>
    <div class="linea">
        <div></div>
    </div>
    <div class="login-form">
        <form [formGroup]="loginGroup" class="login-form-card">
            <h1>Bienvenido</h1>
            <input type="text" placeholder="Usuario" formControlName="userCtrl" required>
            <input type="password" placeholder="Contraseña" formControlName="passwordCtrl" required >
            <div class="btn">
                <button (click)="onSubmit()">Ingresar</button>
            </div>
        </form>
    </div>
</div>