<div class="image-container">
    <img src="assets/img/perfil.png" alt="Perfil">
</div>
<div class="info-container">
    <p><b>Usuario:</b> {{usuario.usuario}}</p>
    <p><b>Nombre:</b> {{usuario.nombre}} {{usuario.apellidos}}</p>
    <p><b>Correo electrónico:</b> {{usuario.correo}}</p>
    <p><b>Teléfono:</b> {{usuario.telefono}}</p>
    <p><b>ID de empleado:</b> {{usuario.id}}</p>
    <div class="editar-perfil">
        <button (click)="onSubmitEditar()">
            <img src="assets/img/editar.png" alt="Editar">
        </button>
    </div>
</div>