<div class="info-container">
    <div class="logo" >
        <img src="assets/img/Logo eris.png" alt="Logo Eris">
    </div>
    <div class="datos-empresa">
        <p>Palermo #9 Colonia Roma, Monterrey</p>
        <p>Nuevo León, México 64700</p>
        <p><b>Teléfono: </b>83-59-10-29</p>
    </div>
    <div class="fecha">
        <p><b>ID Recibo: </b> {{idTemporal}}</p>
        <p><b>Fecha: </b> {{fechaTemporal}}</p>
    </div>
    <div class="datos-cliente">
        <p><b>Atentido por: </b> {{empleadoTemporal}}</p>
        <p><b>Cliente: </b> {{clienteTemporal}}</p>
        <div class="row-correo" >
            <p><b>Correo: </b> {{correoTemporal}}</p>   
            <p><b>Teléfono</b> {{telefonoTemporal}}</p>
        </div>
    </div>
    <div class="productos">

    </div>
    <div class="totales">
        <p><b>Subtotal: </b> {{subtotalTemporal}}</p>
        <p><b>IVA: </b> {{ivaTemporal}}</p>
        <p><b>Total: </b> {{totalTemporal}}</p>
    </div>
</div>