<div class="title-container">
    <p><b>Agregar al carrito</b></p>
</div>
<div [formGroup]="agregarFormGroup" class="info-container">
    <div class="row-container">
        <label for="tipo">Tipo:</label>
        <select formControlName="tipoCtrl" name="Tipo" id="tipo" class="input-margin-2">
            <option value="Servicio">Servicio</option>
            <option value="Pieza">Pieza</option>
            <option value="Herramienta">Herramienta</option>
        </select>
        <label for="id">ID:</label>
        <input formControlName="idCtrl" type="text" id="id" class="input-margin-1">
    </div>
    <div class="row-container">
        <label for="producto">Producto:</label>
        <select formControlName="productoCtrl" name="Producto" id="producto" class="input-margin-1">
            <option *ngFor="let opcion of productosOpciones" [value]="opcion.id">{{opcion.nombre}}</option>
        </select>
    </div>
    <div class="row-container">
        <label for="precio-unitario" class="no-wrap">Precio Unitario:</label>
        <input formControlName="precioCtrl" type="text" placeholder="$" id="precio-unitario" class="input-margin-2">
        <label for="cantidad">Cantidad:</label>
        <input type="number" formControlName="cantidadCtrl" id="cantidad" class="input-margin-1 remove-flechitas">
    </div>
    <div class="row-container">
        <label for="subtotal">Subtotal:</label>
        <input formControlName="subtotalCtrl" type="text" placeholder="$" id="subtotal" class="input-margin-1">
    </div>
    <div class="row-container-btn">
        <button (click)="onSubmitCancelar()">Cancelar</button>
        <button (click)="onSubmitAgregar()">Agregar</button>
    </div>
</div>
