<div class="title-container">
    <p><b>Visualizar reporte</b></p>
</div>
<div class="info-container">
    <div class="row-container">
        <p><b>Nombre:</b></p>
        <input class="nombre" type="text" value="Reporte 1" readonly>
        <p><b>Fecha:</b></p>
        <input class="fecha" type="text" value= "DD/MM/AA" readonly>
    </div>
    <div class="row-container">
        <p><b>Producto:</b></p>
        <input class="producto" type="text" value="Producto 1" readonly>
        <p><b>Tipo:</b></p>
        <input class="tipo" type="text" value= "Reparación" readonly>
    </div>
    <div class="row-container">
        <p><b>Periodo:</b></p>
        <input class="periodo" type="text" value="DD/MM/AA - DD/MM/AA" readonly>
    </div>
    <div class="reporte-container">
        
    </div>
</div>