:root {
    --primary-color: #29363F;
    --secondary-color: #6091BE;
    --font-color: #ffffff;
    --font-color-2: #E2E2E2;
    --panel-color: #30495F;
    --stroke-color: #798187;
    --radius-table: 5px;
    --secondary-color-2: #4c7092;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

router-outlet {
    display: none;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px 1fr 100px;
    grid-template-rows: 1fr;
    grid-template-areas: 'nav main opt';
}

app-menu {
    grid-area: nav;
    background: var(--panel-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    'perfil'
    'cotizaciones'
    'productos'
    'reportes'
    'recibos'
    'empleados';
}

app-mostrar-perfil,
app-agregar-producto,
app-buscar-producto,
app-buscar-empleado,
app-agregar-empleado,
app-buscar-cotizacion,
app-agregar-cotizacion {
    grid-area: main;
    background: var(--panel-color);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px;
}

app-menu-secundario {
    width: 100%;
    height: 100%;
    grid-area: opt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}