<a href="">
    <div class="perfil">
        <img src="assets/img/perfil.png" alt="Perfil">
        <p>Perfil</p>
    </div>
</a>
<a href="">
    <div class="cotizaciones">
        <img src="assets/img/carrito.png" alt="Cotizaciones">
        <p>Cotizaciones</p>
    </div>
</a>
<a href="">
    <div class="productos">
        <img src="assets/img/productos.png" alt="Productos">
        <p>Productos</p>
    </div>
</a>
<a href="">
    <div class="reportes">
        <img src="assets/img/reportes.png" alt="Reportes">
        <p>Reportes</p>
    </div>
</a>
<a href="">
    <div class="recibos">
        <img src="assets/img/recibos.png" alt="Recibos">
        <p>Recibos</p>
    </div>
</a>
<a href="">
    <div class="empleados">
        <img src="assets/img/empleados.png" alt="Empleados">
        <p>Empleados</p>
    </div>
</a>