<a [routerLink]="['/mostrar-perfil']">
    <div class="perfil" [ngClass]="isActive(['/mostrar-perfil', '/modificar-perfil'])">
        <img src="assets/img/perfil.png" alt="Perfil">
        <p>Perfil</p>
    </div>
</a>
<a (mouseover)="changeText=true" (mouseout)="changeText=false">
    <div *ngIf="!changeText; else elseBlock" class="cotizaciones" [ngClass]="isActive(['/buscar-cotizacion', '/agregar-cotizacion', '/carrito'])">
        <img src="assets/img/carrito.png" alt="Cotizaciones">
        <p>Cotizaciones</p>
    </div>
    <ng-template #elseBlock>
        <div class="submenu-cotizacion">
            <a [routerLink]="['/buscar-cotizacion']">Buscar Cotizaciones</a>
            <a [routerLink]="['/agregar-cotizacion']">Agregar Cotizacion</a>
        </div>
    </ng-template>
</a>
<a [routerLink]="['/buscar-producto']">
    <div class="productos" [ngClass]="isActive(['/buscar-producto', '/agregar-producto', '/modificar-producto'])">
        <img src="assets/img/productos.png" alt="Productos">
        <p>Productos</p>
    </div>
</a>
<a (mouseover)="changeTextR=true" (mouseout)="changeTextR=false">
    <div *ngIf="!changeTextR; else elseBlockR" class="reportes" [ngClass]="isActive(['/buscar-reporte', '/generar-reporte', '/visualizar-reporte'])">
        <img src="assets/img/reportes.png" alt="Reportes">
        <p>Reportes</p>
    </div>
    <ng-template #elseBlockR>
        <div class="submenu-reportes">
            <a [routerLink]="['/buscar-reporte']">Buscar Reportes</a>
            <a [routerLink]="['/generarr-reporte']">Generar Reporte</a>
        </div>
    </ng-template>
</a>
<a [routerLink]="['/buscar-recibo']">
    <div class="recibos" [ngClass]="isActive(['/buscar-recibo', '/visualizar-recibo'])">
        <img src="assets/img/recibos.png" alt="Recibos">
        <p>Recibos</p>
    </div>
</a>
<a [routerLink]="['/buscar-empleado']">
    <div class="empleados" [ngClass]="isActive(['/buscar-empleado', '/agregar-empleado', '/editar-empleado'])">
        <img src="assets/img/empleados.png" alt="Empleados">
        <p>Empleados</p>
    </div>
</a>